<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Nota</div>
                <div class="panel-body">
                    <!--<div class="alert alert-danger" ng-show="error.error">
                        <strong>Whoops!</strong> Ocorretam erros.<br><br>
                        <div>{{ error.message }}</div>
                    </div> -->
                            <div class="col-md-6">
                                <label class="col-md-4 control-label">Título</label>
                                {{ note.title }}
                            </div>
                            <div class="col-md-6">
                                <label class="col-md-4 control-label">Nota</label>
                                {{ note.note }}
                            </div>

                </div>
            </div>
        </div>
    </div>
</div>